.content {
  color: aliceblue;
  display: flex;
  flex-direction: column;
}

.entete {
  margin-bottom: 1rem;
}

.contenu {
  display: flex;
  flex-direction: column;
  margin-right: 15rem;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}

.service-card {
  width: 20rem;
  background-color: #1e1e1f;
  height: auto;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
}
.service-card p{
  color: aliceblue;
}
.service-card:hover {
  border: 1px solid antiquewhite;
}

.icons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.5rem;
}

/* Styles pour les écrans plus petits */
@media (max-width: 768px) {
  .services {
    flex-direction: column;
    gap: 1rem;
  }

  .service-card {
    max-width: 100%;
    width: auto;
  }

  .contenu {
    margin: auto;
  }
}
