.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #1E1E1F;
  color: aliceblue;
  border-radius: 10px;
  padding: 20px;
  height: 40rem;
  box-shadow: 0px 0px 2px 0px rgb(251, 218, 175); /* Ajout de l'ombre */
}

.mail a {
  color:aliceblue;
}

.h5 {
  margin-top: -10px;
}

.logo img {
  border-radius: 10px !important;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.icon{
  background-color: #121212;
  padding: 10px;
  border-radius: 10px;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.myicon {
  color: antiquewhite !important;
  animation: bounce 2s infinite;
  cursor: pointer;
}

.contact-text {
  font-size: 14px;
}

.social-links {
  display: flex;
  gap: 10px;
}

.social-icon {
  background-color: #1E1E1F;
  padding: 5px;
  border-radius: 5px;
}

.social-icon a {
  color: antiquewhite;
}

.social-icon a:hover {
  color: rgb(237, 164, 69);
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
.sid{
  display: flex;
  flex-direction: column;
}
.sid .mail{
  color: #727277;
}