/* App.css */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  width: 80rem;
  margin: 0 auto; /* Centre l'app-container horizontalement */
}

@media (max-width: 1024px) {
  .app-container {
    width: 70rem;
    margin-top: 0;
  }
 
}

@media (max-width: 992px) {
  .app-container {
    width: 60rem;
  }
}

@media (max-width: 768px) {
  .app-container {
    width: 100%;
    flex-direction: column;
  }
  .main-content {
    padding: 10px;
  }
  .sidebar {
    display: none; /* Cache la sidebar sur les petits écrans */
  }
  body, html {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
  }
}

@media (max-width: 576px) {
  .app-container {
    width: 100%; /* Utilise 100% de la largeur disponible pour les très petits écrans */
    padding: 0 10px;
    
  }

  .navbar {
    display: flex; /* Assurez-vous que la navbar est visible */
    width: 100%;
  }
}
@media (max-width: 425px) {
  .app-container {
    width: 100%;
  }

  .navbar {
    display: flex; /* Assurez-vous que la navbar est visible */
    width: 100%;
  }
}
@media (max-width: 425px) {
  .app-container {
    width: 100%; /* Utilise 100% de la largeur disponible pour les très petits écrans */
    
  }

  .navbar {
    display: flex; /* Assurez-vous que la navbar est visible */
    width: 100%;

  }
}

.footer {
  display: none;
}

@media (max-width: 768px) {
  .footer {
    display: block;
    margin-bottom: 0;
  }
}